<div class="main-content">

    {{>header-admin}}

    <hr/>{{>breadcrumb-admin}}
    <h2>{{heading}}</h2>

    {{#if successMessage}}
    <div class="alert alert-success">{{successMessage}}</div>
    {{/if}}
    {{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
    {{/if}}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        var $table1 = jQuery('#table-1');
                        // Initialize DataTable
                        $table1.DataTable({
                            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            "bStateSave": true
                        });
                    });
                </script>
                <div class="panel-body">
                    <table class="table table-bordered datatable" id="table-1">
                        <thead>
                            <tr>
                                <th>Mã đọc giả</th>
                                <th>Tên</th>
                                <th>Ngày Sinh</th>
                                <th>Email</th>
                                <th>Giới Tính</th>
                                <th>Địa chỉ</th>
                                <th>CMND</th>
                                <th>Người giám hộ</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each readers}}
                            <tr class="odd gradeX">
                                <td id="id">{{MA_DOCGIA}}</td>
                                <td>{{TEN}}</td>
                                <td>{{NGAYSINH}}</td>
                                <td>{{EMAIL}}</td>
                                <td>
                                 {{#ifCond GIOITINH '==' 0}} Nữ {{else}} Nam {{/ifCond}}
                                </td>
                                <td>{{DIACHI}}</td>
                                <td>{{CMND}}</td>
                                <td>{{NGUOIGIAMHO}}</td>
                                <td class="center">
                                    <a href="/admin/readers/edit/{{MA_DOCGIA}}" class="btn btn-primary btn-sm btn-icon icon-left">
                                        <i class="entypo-pencil"></i>
                                        Sửa
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-sm btn-icon icon-left deleteReader">
                                        <i class="entypo-cancel"></i>
                                        Xoá
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
{{#section 'scripts'}}
<!-- Imported styles on this page -->

<!-- Bottom scripts (common) -->
<script src="/assets/admin/js/gsap/TweenMax.min.js"></script>
<script src="/assets/admin/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/assets/admin/js/bootstrap.js"></script>
<script src="/assets/admin/js/resizeable.js"></script>
<script src="/assets/admin/js/neon-api.js"></script>
<script src="/assets/admin/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>



<!-- Imported scripts on this page -->
<script src="/assets/admin/scripts/publisher.js"></script>



<script src="/assets/admin/js/datatables/datatables.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="/assets/admin/js/neon-custom.js"></script>

<!-- Imported scripts on this page -->
<script src="/assets/admin/js/bootstrap-switch.min.js"></script>

<!-- Demo Settings -->
<script src="/assets/admin/js/neon-demo.js"></script>




<script>
    $(document).ready(function () {
        //bootstrap WYSIHTML5 - text editor
        $('#table-1').DataTable();
        $('div.alert').delay(5000).slideUp();
    });
</script> {{/section}}