<div id="templatemo_container">
    {{>user-menu}}
    <!-- end of menu -->

    <div id="templatemo_header">

    </div>
    <!-- end of header -->
    <div id="templatemo_content">
        <div id="templatemo_content_left">
            <div class="templatemo_content_left_section">
                <h1>Thể loại</h1>
                {{#each genres}}
                <ul>
                    <li>
                        <a href="/theloai/{{MA_THELOAI}}">{{TEN}}</a>
                    </li>
                </ul>
                {{/each}}
            </div>
        </div>
        

        <div id="templatemo_content_right">

            <h1>Danh sách</h1>

            <div class="danhsach">
                {{#each books}}
                <div class="row">
                    {{#each this}}
                    <div class="box">
                        <img src="/upload/book/{{picture}}">
                        <div class="thongtin">
                            <p>{{TEN}}</p>
                            <p>Thể loại: {{THELOAI}}</p>
                            <p>Tác giả: {{TACGIA}}</p>
                            <p>Số lượng sách còn: {{SOLUONGCONLAI}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/each}} 
            </div>
            <!-- End danh sách các sách có trong thư viện -->
            <div class="cleaner_with_height">&nbsp;</div>
            <div class="pagination">
                <a href="#">&laquo;</a>
                {{#each pages}}
                <a href="#">{{this}}</a>
                {{/each}}
                <a href="#">&raquo;</a>
            </div>
        </div>
        <!-- end of content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div>
    <!-- end of content -->

    <div id="templatemo_footer">
        <a href="subpage.html">Home</a> |
        <a href="subpage.html">Search</a> |
        <a href="#">FAQs</a> |
        <a href="#">Contact Us</a>
        <br /> Copyright © 2018
        <a href="#">
            <strong>Trần Văn Thanh - Nguyễn Hiếu Thắng</strong>
        </a>
    </div>
    <!-- end of footer -->

</div>
<!-- end of container -->